<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <style>
        body {
          background-color: #1e1e1e; /* 深灰色背景 */
          color: #f5f5f5;            /* 浅灰/白色字体 */
          font-family: sans-serif;
          margin: 0;
          padding: 2rem;
        }
        a {
          color: #87cefa;            /* 浅蓝色链接 */
        }
    </style>
</head>
<body>
    <a href="/">Index</a>
    <h1>Sign Up</h1>
    <form action="/user/register" method="post">
        <input type="text" name="username" placeholder="user name">
        <br>
        <input type="password" name="password" placeholder="password">
        <br>
        <button type="submit">Sign</button>
    </form>
    <h3>{{result}}</h3>
</body>
</html>